<input type="checkbox" id="check">
<nav>
    <div class="icon" routerLink="/">E-Com</div>

    <div class="search-box" *ngIf="menuType !== 'seller' ">
        <input type="search" placeholder="Search..." #searchBar  (keydown.enter)="submitSearch(searchBar.value)"  (keyup)="searchProducts(searchBar.value)" (blur)="hideSearchProducts()">
        <button class="searchIcon" (click)="submitSearch(searchBar.value)"><fa-icon [icon]="searchIcon"></fa-icon></button>

        <ul class="suggested-result" *ngIf="searchResult">
            <li *ngFor="let item of searchResult" (mousedown)="redirectToDetails(item.id)">
                <a>{{item.name}}</a>
            </li>
            <li *ngIf="searchNotFound">
                <a>{{searchNotFound}}</a>
            </li>
        </ul>
        
    </div>

    <div class="menu" [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a class="cursor" (click)="navigateToOrderPage()">My Orders ({{orderLength}})</a></li>
            <li><a [class]="cartLength === 0 ? 'context-menu' : 'pointer'" (click)="navigateToCartPage()" >Cart ({{cartLength}})</a></li>
            <li><a routerLink="seller-auth">Seller</a></li>
            <li><a routerLink="user-auth">Login</a></li>
        </ul>
        <ul *ngSwitchCase="'user'">
            <li><a class="context-menu">{{userName | titlecase}}</a></li>
            <li><a [class]="orderLength === 0 ? 'context-menu' : 'pointer'" (click)="navigateToOrderPage()">My Orders ({{orderLength}})</a></li>
            <li><a [class]="cartLength === 0 ? 'context-menu' : null" [routerLink]="cartLength > 0 ? 'cart-page' : null">Cart ({{cartLength}})</a></li>
            <li><a class="logOut" (click)="userLogOut()">Logout</a></li>
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a class="context-menu">{{sellerName | titlecase}}</a></li>
            <li><a routerLink="/seller-add-product">Add Product</a></li>
            <li><a routerLink="/seller-home">Product List</a></li>
            <li><a class="logOut" (click)="sellerLogOut()">Logout</a></li>
        </ul>
    </div>

    <label for="check" class="bars">
        <fa-icon class="barIcon" [icon]="bar"></fa-icon>
        <fa-icon class="timeIcon" [icon]="time"></fa-icon>
    </label>
</nav>