<div class="container-fluid">
    <div class="row">
        <footer class="footer-row-section">
            <div class="col-sm-4">
                <ul>
                    <li>
                        <h6 routerLink="/">About Us</h6>
                    </li>
                    <li><a routerLink="/">FAQsc</a></li>
                    <li><a routerLink="/">Contact Us</a></li>
                    <li><a routerLink="/">Terms and Conditions</a></li>
                    <li><a routerLink="/">Become a Seller</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li>
                        <h6 routerLink="/">Customer Service</h6>
                    </li>
                    <li>
                        <h6 routerLink="/">Help Center</h6>
                    </li>
                    <li><a routerLink="/">Privacy Ploicy</a></li>
                    <li><a routerLink="/">Installments Plan</a></li>
                </ul>
            </div>
            <div class="col-sm-4 icons">
                <ul>
                    <li>
                        <h6 routerLink="/">Secure Payments Methods</h6>
                    </li>
                    <img decoding="async" alt="payments" src="https://static.priceoye.pk/images/payment_method.svg"
                        class="i-amphtml-fill-content i-amphtml-replaced-content">
                </ul>
            </div>
        </footer>
    </div>
    <div class="copyright">&copy; 2023 E-Com. All rights reserved.</div>
</div>