.container {
    display: flex;
    align-items: center;
    /* height: calc(100vh - 72px); */
}

.checkout {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 16px 8px;
    margin-bottom: 24px;
    width: 100%;
    margin-top: 100px;
}

.form {
    width: 300px;
}

.common-form h3{
    font-weight: 600;
    color: #48afff;
    text-align: center;
}

.message-p {
    text-align: center;
}

.checkout-amount{
    margin-right: 100px;
}

.checkout-amount p {
    font-size: 20px;
}

.form-input {
    height: 42px;
}

.form {
    padding: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
    margin: auto;
}

.summary {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
    margin: auto;
}

.summary h3 {
    text-align: center;
    font-weight: 600;
    color: #48afff;
    padding-top: 16px;
}

.summary ul {
    list-style-type: none;
    padding: 0 16px;
}

.summary ul li {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 575px) {
    .form {
        width: 200px;
    }
    .summary {
        width: 200px;
    }
}


@media screen and (max-width: 767px) {
    .checkout {
        margin-top: 30px;
    }

    .summary {
        max-width: 300px;
        min-width: 200px;
        margin: auto;
        margin-bottom: 36px;
    }

    .form{
        max-width: 300px;
        min-width: 200px;
        margin: auto;
    }

    .form {
        padding: 24px;
    }
}