<div class="container">
    <div class="spinner-container" *ngIf="!productList">
        <div class="spinner-border text-info" role="status" style="width: 5rem; height: 5rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <h1 *ngIf="productList">{{productHeading}}</h1>
    <p class="message-p text-center">{{productMessage}}</p>
    <div class="row product" *ngFor="let product of productList; index as i">
        <div class="col-sm-3">
            <div class="product-image">
                <img src="{{product.image}}" alt="">
            </div>
        </div>
        <div class="col-sm-4 product-details">
            <p><b>Name: </b>{{product.name}}</p>
            <p><b>Price: </b>{{product.price}}</p>
            <p><b>Color: </b>{{product.color}}</p>
        </div>
        <div class="col-sm-5 product-details">
            <p><b>Category: </b>{{product.category}}</p>
            <p><b>Description: </b>{{product.description}}</p>
            <div class="btn-upd-del">
                <a routerLink="/seller-update-product/{{product.id}}/{{i}}"><fa-icon class="edit" [icon]="edit"></fa-icon></a>
                <a (click)="deleteProduct(product)"><fa-icon class="delete" [icon]="trash" *ngIf="!product.loading"></fa-icon></a>
                <div class="spinner-border spinner-border-sm text-danger" role="status" *ngIf="product.loading">
                    <span class="sr-only">Loading...</span>
                  </div>
            </div>
        </div>

    </div>
</div>