<div class="update-product">
    <h1>Update Product</h1>
    <p class="message-p">{{productMessage}}</p>
    <form #productForm="ngForm" class="common-form" (ngSubmit)="submit(productForm.value)">
        <input class="form-input" type="text" placeholder="Product Name" name="name" ngModel={{productData?.name}} #name>
        <input class="form-input" type="text" placeholder="Product Price" name="price" ngModel={{productData?.price}} #price>
        <input class="form-input" type="text" placeholder="Product Category" name="category" ngModel={{productData?.category}} #category>
        <input class="form-input" type="text" placeholder="Product Color" name="color" ngModel ={{productData?.color}} #color>
        <textarea class="form-input" type="text" placeholder="Product Description" name="description" ngModel={{productData?.description}} #description></textarea>
        <input class="form-input" type="text" placeholder="Product Image Url" name="image" ngModel={{productData?.image}} #image>
        <button class="form-btn proceed-btn">Update Product</button>
    </form>
</div>